mat-paginator{
  float: left;
}
th{
        color: #ffffff;
        background: #007bff;
}
td{
  color: #007bff;
}
th,td{
        text-align: center;
        padding: 15%;
}
     /* .fl-table {
        border-radius: 5px;
        font-size: 12px;
        font-weight: normal;
        border: none;
        
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        background-color: white;
    }
    
    .fl-table td, .fl-table th {
        text-align: center;
        padding: 18px;
    }
    
    .fl-table td {
        border-right: 1px solid #f8f8f8;
        font-size: 12px;
    }
    
    .fl-table th {
        color: #ffffff;
        background: #007bff;
    }
    
    
    .fl-table th:nth-child(odd) {
        color: #ffffff;
        background: #007bff;
    }
    
    .fl-table tr:nth-child(even) {
        background: #F8F8F8;
    }  */