{% extends 'base.html.twig' %}

{% block title %}New AdminSysteme{% endblock %}

{% block body %}
    <h1>Create new AdminSysteme</h1>

    {{ include('admin_systeme/_form.html.twig') }}

    <a href="{{ path('admin_systeme_index') }}">back to list</a>
{% endblock %}
