<app-navbar></app-navbar>
<div class="container mt-5 py-5">
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
                    <div class="card hovercard">
                        <div class="cardheader">

                        </div>
                        <div class="avatar">
                            <img alt="" src="http://lorempixel.com/100/100/people/9/">
                        </div>
                        <div class="info" >
                            <div class="title">
                                <h3>{{user.nomComplet}}</h3>
                            </div>
                            <div class="desc">{{user.profil}}</div>
                            <div class="desc">Username: {{user.username}}</div>
                            <div class="desc">Adresse:{{user.adresse}}</div>
                            <div class="desc">Telephone:{{user.telephone}}</div>
                            <div class="desc">Mail:{{user.email}}</div>
                        </div>
                        <div class="bottom">
                            <a class="btn btn-primary btn-twitter btn-sm">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a class="btn btn-danger btn-sm">
                                <i class="fa fa-google-plus"></i>
                            </a>
                            <a class="btn btn-primary btn-sm">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="btn btn-warning btn-sm">
                                <i class="fa fa-behance"></i>
                            </a>
                        </div>
                    </div>
          </div>
          <div class="col-md-2"></div>
      </div>
</div>