<!-- <nav class="menu">
  <ol>
    <li class="menu-item"><a [routerLink]="['/home']">Home</a></li>
    <li class="menu-item" *ngIf="isAdmin()">
      <a [routerLink]="['/partenaires']">Partenaire</a>
      <ol class="sub-menu">
        <li class="menu-item"><a [routerLink]="['/addPartenaire']">Ajout</a></li>
        <li class="menu-item"><a [routerLink]="['/partenaireOperation']">Liste Operations Partenaire</a></li>
      </ol>
    </li>
    <li class="menu-item" *ngIf="isPartenaireOrUser()">
      <a [routerLink]="['/utilisateurs']" >Utilisateurs</a>
      <ol class="sub-menu">
        <li class="menu-item" *ngIf="isAdminPartenaire()"><a [routerLink]="['/addUser']">Ajout</a></li>
        <li class="menu-item" *ngIf="isUserPart()"><a [routerLink]="['/envoiTransaction']">Envoi</a></li>
        <li class="menu-item" *ngIf="isUserPart()"><a [routerLink]="['/retraitTransaction']">Retrait</a></li>
        <li class="menu-item" *ngIf="isAdminPartenaire()"><a [routerLink]="['/UserOperations']">Operations Utilisateurs</a></li>
      </ol>
    </li>
    <li class="menu-item" *ngIf="isAdminPartenaireOrCaissier()">
      <a [routerLink]="['/compte']">Comptes</a>
      <ol class="sub-menu">
          <li class="menu-item" *ngIf="isPartenaire()"><a [routerLink]="['/addCompte']">Ajout compte</a></li>
      </ol>
    </li>
    <li class="menu-item"><a href="#0">Contact</a></li>
    <li class="menu-item"><a [routerLink]="['/logout']">Déconnexion</a></li>
  </ol>
</nav> -->

<script>
    var doc = new jsPDF()
 
 doc.text('Hello world!', 10, 10)
 doc.save('a4.pdf')
</script>