<nav class="menu">
  <ol>
    <li class="menu-item"><a [routerLink]="['']">Home</a></li>
    <li class="menu-item"><a [routerLink]="['/about']">About</a></li>
    <li class="menu-item" *ngIf="isAuthenticated()">
      <a [routerLink]="['/partenaires']">Partenaire</a>
      <ol class="sub-menu">
        <li class="menu-item"><a [routerLink]="['/addPartenaire']">Ajout</a></li>
        <li class="menu-item"><a [routerLink]="['/UserOperations']">Operations Utilisateurs</a></li>
        <li class="menu-item"><a href="#0">Huge Widgets</a></li>
      </ol>
    </li>
    <li class="menu-item" *ngIf="isAdmin()">
      <a [routerLink]="['/utilisateurs']">Utilisateurs</a>
      <ol class="sub-menu">
        <li class="menu-item"><a [routerLink]="['/addUser']">Ajout</a></li>
        <li class="menu-item"><a href="#0">BBQ kabobs</a></li>
        <li class="menu-item"><a href="#0">Summer kabobs</a></li>
      </ol>
    </li>
    <li class="menu-item" >
      <a [routerLink]="['/compte']">Comptes</a>
      <ol class="sub-menu">
        <li class="menu-item"><a [routerLink]="['/AddCompte']">Ajout compte</a></li>
        <li class="menu-item" *ngIf="isCaissier()"><a [routerLink]="['/depot']">Dépot</a></li>
        <li class="menu-item" ><a href="#0">Summer kabobs</a></li>
      </ol>
    </li>
    <li class="menu-item"><a href="#0">Contact</a></li>
    <li class="menu-item"><a [routerLink]="['/logout']">Déconnexion</a></li>
  </ol>
</nav>