<div id="contrat">
  <div>
      <h1>Contrat de prestation de service</h1>
      <h1>Entre les soussignés:</h1>
       
          <h2>Webitransfert SA</h2>
          Siège social: Mermoz Dakar,
          Ninea: webazd123470
       
       
          <h2>Représenté par </h2> Mayrame Diallo
           Ci-après désigné le "prestataire" 
           D'une part 
       
  
      <h2> Et</h2>
       
          <h2>{{contratPartenaire.raisonSocial}} SA</h2>
          Siège social: {{contratPartenaire.adresse}},
          Ninea: {{contratPartenaire.ninea}}
       
       
          <h2>Représenté par </h2> {{contratPartenaire.nomComplet}}
           Ci-après désigné le "client" 
           D'autre part 
       
  
      <h2>Il a été arrêté et convenu ce qui suit:</h2>
       <strong>Article 1: Nature de la mission</strong> 
      <p> Le client confie au Prestatire une mission consistant
       à répondre aux besoins suivants:  </p>
      <p> Dans le cadre de
          cette mission, le Prestataire s'engage à mettre ses 
          collaborateurs à la disposition du Client si cela </p>
        <p>est nécessaire pour
           la bonne
          exécution de la mission. Cependant, lesdits salariés
           resteront sous </p>
          <p> l'autorité et sous la responsabilité du Prestataire pendant leur
          intervention chez le Client.  </p>
       
  
      <p class="h5">Article deux - Prix et modalités de paiement  </p>
  <p class="surligne">
  Au choix selon le cas : 
  <ul><li> Le Client
    s'engage à payer au Prestataire un prix total de <span class="txt_modifiable">[x]</span>
    € hors taxes payable selon l'échéancier suivant :
    <ul><li> <span class="txt_modifiable">[x]</span>
      € hors taxes lors de la signature du présent contrat, 
      </li><li> <span class="txt_modifiable">[x]</span>
      € hors taxes en fin de mission. 
    </li></ul></li><li> Le Client s'engage à payer un
    prix fixé en fonction d'un tarif horaire de <span class="txt_modifiable">[x]</span>
    € hors taxes. 
  </li></ul> <p> D'autre part,
  il s'engage à rembourser au Prestataire les éventuels frais de
  déplacement ou de séjour à l'hôtel qui seraient nécessités
  pour l'exécution de la mission. Ces frais seront engagés après
  accord écrit du Client et ils devront être remboursés sur
  présentation des justificatifs.  </p>
  <p class="h5">Article trois - Obligations du Prestataire 
   Il est rappelé
  que le Prestataire est tenu à une obligation de moyens. Il doit donc
  exécuter sa mission conformément aux règles en vigueur dans sa
  profession et en se conformant à toutes les données acquises dans
  son domaine de compétence.  </p>
<p> Il reconnaît que
  le Client lui a donné une information complète sur ses besoins et
  sur les impératifs à respecter. 
   Il s'engage à se
  conformer au règlement intérieur et aux consignes de sécurité
  applicables chez le Client. </p> 
<p> Enfin, il
  s'engage à observer la confidentialité la plus totale en ce qui
  concerne le contenu de la mission et toutes les informations ainsi
  que tous les documents que le Client lui aura communiqués. </p>
  
  <p class="h5">Article quatre - Obligations du Client 
   Afin de permettre
  au Prestataire de réaliser la mission dans de bonnes conditions, le
  Client s'engage à lui remettre tous les documents nécessaires
  dans les meilleurs délais.  </p>
  <p class="h5">Article cinq – Responsabilité 
   La responsabilité
  du Prestataire ne pourra être mise en cause qu'en cas de manquement
  à son obligation de moyens. En outre, le Client ne pourra pas
  l'invoquer dans les cas suivants :  </p>
  <ul><li> s'il a omis
    de remettre au Prestataire un document ou une information nécessaire
    pour la mission, 
  </li></ul><ul><li> en cas de force majeure ou
    d'autres causes indépendantes de la volonté du Prestataire. 
  </li></ul><p class="h5">Article six - Droit applicable et juridiction
  compétente 
   Le présent
  contrat est assujetti au droit français. Tout litige qui résulterait
  de son exécution sera soumis aux tribunaux dont dépend le siège
  social du Prestataire.  </p>
  
   Fait le <span class="txt_modifiable">date contrat</span>
  en deux exemplaires à <span class="txt_modifiable">Dakar</span> 
  
  <table><tr><td col-md-4>
         Le Prestataire 
        </td>
      <td col-md-4>
         Le Client 
      </td >
    </tr></table>
  </div>
</div>
<button class="btn-primary" (click)="saveContrat()">Télécharger</button>