<h2>Responsive Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th id="">Caissier</th>
            <th id="">Montant</th>
            <th id="">Numéro Compte</th>
            <th id="">Date dépôt</th>
        </tr>
        </thead>
        <ng-container *ngFor="let u of  users">
          <tbody >
          <tr>
            <td>{{u.caissier}}</td>
            <td>{{u.montant}}</td>
            <td>{{u.numeroCompte}}</td>
            <td>{{u.dateDepot}}</td>
            
          </tr>
          </tbody>
          </ng-container>
    </table>
</div>