<app-home></app-home>
<h2>Responsive Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th id="">Caissier</th>
            <th id="">Montant</th>
            <th id="">Date transaction</th>
            <th id="">Type</th>
        </tr>
        </thead>
        <ng-container *ngFor="let h of  histo">
          <tbody >
          <tr>
            <td>{{h.username}}</td>
            <td>{{h.montant}}</td>
            <td>{{h.date_transaction}}</td>
            <td>{{h.type}}</td>
            
          </tr>
          </tbody>
          </ng-container>
    </table>
</div>