<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-4"></div>
<div class="col-md-4">
  <div class="example-container">
    <mat-form-field>
      <input matInput [(ngModel)]="userData.password" name="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button color="accent" (click)="passwordChange()">Changer</button>
  </div>
</div>
<div class="col-md-4"></div>
</div>