<<<<<<< HEAD
{% extends 'base.html.twig' %}

{% block title %}New AdminPartenaire{% endblock %}

{% block body %}
    <h1>Create new AdminPartenaire</h1>

    {{ include('admin_partenaire/_form.html.twig') }}

    <a href="{{ path('admin_partenaire_index') }}">back to list</a>
{% endblock %}
=======
{% extends 'base.html.twig' %}

{% block title %}New AdminPartenaire{% endblock %}

{% block body %}
    <h1>Create new AdminPartenaire</h1>

    {{ include('admin_partenaire/_form.html.twig') }}

    <a href="{{ path('admin_partenaire_index') }}">back to list</a>
{% endblock %}
>>>>>>> 920aea0ab65ee18c3c6889c75023fc25561a852b
