<h2>Responsive Table</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th id="">Numéro Compte</th>
            <th id="">Solde</th>
            <th id="">Editer</th>
        </tr>
        </thead>
        <ng-container *ngFor="let c of  comptes">
          <tbody >
          <tr>
            <td>{{c.numeroCompte}}</td>
            <td>{{c.solde}}</td>
            <td><a href="/editcomptes/{{c.id}}"><fa-icon [icon]="faEdit"></fa-icon></a></td>
            
          </tr>
          </tbody>
          </ng-container>
    </table>
</div>